<div class="main-content">
  <div class="container-fluid">


        <div class="card">
          <div class="card-header">
            <h4 class="card-title">การจัดการผู้ใช้งาน</h4>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-8" style="padding-left: 0;">
                <div class="userInfo">
                  <div class="title"> 
                    <div class="row">
                      <div class="col-sm justify-content-start">
                        ข้อมูลผู้ใช้
                      </div>
                      <div class="col-sm-1 justify-content-end">
                        <div class="Edit" (click)="editProfile()">
                          <i class="fa fa-pencil-square-o" ></i>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="user-content">
                    <div *ngIf="!EditStatus" class="user-data">
                      <div class="row">

                        <div class="col-sm-6">
                          <div class="Info-text">
                            ชื่อ : {{ UserData?.employeeId.firstname }}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="Info-text">
                            นามสกุล : {{ UserData?.employeeId.lastname }}
                          </div>
                        </div>

                        <div class="col-sm-12">
                              <div class="title"></div>
                        </div>
                    
                        <div class="col-sm-12">
                          <div class="Info-text">
                            ตำแหน่ง/หน้าที่ :  {{ UserData?.role }}
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="Info-text">
                            องค์กร/บริษัท :  {{ UserData?.employeeId.organization }}
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="Info-text">
                            ที่อยู่ :  {{ UserData?.employeeId.address }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="Info-text">
                           
                            ตำบล : {{ getTambonName(UserData?.employeeId.tambon) }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="Info-text">
                           
                            อำเภอ :  {{ getAmphureName(UserData?.employeeId.amphure) }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="Info-text">
                           
                            จังหวัด :  {{ getProvinceName(UserData?.employeeId.province) }}
                          </div>
                        </div>
                    
                        <div class="col-md-6">
                          <div class="Info-text">
                            รหัสไปรษณีย์ :{{ UserData?.employeeId.postCode }}
                          </div>
                        </div>

                      </div>
                   
                      <div class="title"> </div>
                      <div class="row">
                        <div class="col-sm-12">
                            ข้อมูลติดต่อ
                        </div>
                      
                        <div class="col-sm-6">
                          <div class="Info-text">
                            อีเมล : {{ UserData?.employeeId.email }} 
                          </div>
                        </div>
  
                        <div class="col-sm-12">
                          <div class="Info-text">
                            เบอร์โทร : {{ UserData?.employeeId.phone }}
                          </div>
                        </div>
                    
                   
      
                      </div>

                    </div>


                    <div *ngIf="EditStatus" class="userEdit">
                      <form [formGroup]="UserInfoForm" (ngSubmit)="SaveUserInfo()">        
                        <div class="row" >
  
                          <div class="col-sm-6">
                            <mat-form-field>
                              <input matInput placeholder="ชื่อ" formControlName="firstname"  type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                            <mat-form-field>
                              <input matInput placeholder="นามสกุล" formControlName="lastname" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-12">
                            <mat-form-field>
                              <input matInput placeholder="ตำแหน่ง/หน้าที่" formControlName="bearing" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-12">
                            <mat-form-field>
                              <input matInput placeholder="บริษัท/องค์กร" formControlName=" organization" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-sm-12">
                            <mat-form-field>
                              <input matInput placeholder="ที่อยู่" formControlName="address" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="ตำบล" formControlName="subDistrict" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="อำเภอ" formControlName="district" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="จังหวัด" formControlName="province" type="text">
                            </mat-form-field>
                          </div>
                        
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="รหัสไปรษณีย์" formControlName="postalCode" type="text">
                            </mat-form-field>
                          </div>

                          <div class="col-sm-12">
                            <div class="title"> ข้อมูลติดต่อ</div>
                          </div>
                        
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="อีเมล" type="email">
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="เบอร์โทร" type="text">
                              </mat-form-field>
                            </div>
                      
                        </div>
                        <button type="submit" class="btn btn-add">บันทึก</button>
                        <button type="button" class="btn btn-danger" (click)="cancelEdit()">ยกเลิก</button>
                      </form>
                    </div>
                   
                  </div>
                </div>

              </div>
              <div class="col-sm-4" style="border: 1px solid black; border-radius: 5px; padding-left: 0; padding-right: 0; ">
                <div class="card-profile">
                  <div class="card-avatar">
                    <a href="javascript:void(0)">
                      <img class="img" [src]="profileImgUrl" alt="Profile Image" />
                    </a>
                  </div>
                  <div *ngIf="!EditStatus" class="user-data" class="Info-Preview-name">
                     {{ UserData?.employeeId.firstname }}  {{ UserData?.employeeId.lastname }}
                  </div>
                  <div class="Info-Preview">
                     {{ UserData?.role }}
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>

   

  </div>
</div>


