<!-- <div *ngIf="isSuperAdmin"> -->
<div class="dashboard">

  <div class="header">
    <label for="province" class="province-label">เลือกจังหวัด:</label>
    <select id="province" class="province-select form-control" [(ngModel)]="selectedProvince" (change)="onProvinceChange($event)">
        <option value="">เลือกทั้งหมด</option> <!-- เพิ่มหัวข้อเลือกทั้งหมด -->
        <option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
    </select>
</div>

<div *ngIf="provinces.length === 0">
    <p>ยังไม่มีข้อมูลจังหวัด</p>
</div>

  <div class="global-sales">
    <div class="BoxTotal row">
      <div class="col-sm-4">
        <div class="Box1 card">
          <div class="card-header card-header-danger">
            <a style="font-size: 18px;">เอกสารตรวจสอบ</a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="number">
                  {{recordCount}}  
          </div> 
              </div>
              <div class="col-sm-4">
                <div class="nameCount">
                  ( ฉบับ ) 
               </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="Box2 card">
          <div class="card-header card-header-danger">
            <a style="font-size: 18px;">เอกสารที่ยังไม่ถูกเซ็น</a>
          </div>
          <div class="card-body">
            <div>
              
          </div>    
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="Box3 card">
          <div class="card-header card-header-danger">
            <a style="font-size: 18px;">เอกสารที่ถูกเซ็นแล้ว</a>
          </div>
          <div class="card-body">
            <div>
              {{ buttonCount }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-thaicounty></app-thaicounty>
  <app-map></app-map>
  

<!-- <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div> -->
  
  </div>
</div>
<!-- </div> -->

