.example-box {
    width: 140px;
    height: 100px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
  }
  
  .signature-container {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    margin-bottom: 20px;
    background-color: #fff;
    width: 400px;
    height: 200px;
  }
  
  .deleteBtn {
    font-size: 22px;
    color: #f43643;
    cursor: pointer;
  }
  
  .card{
    font-family: 'Sarabun',sans-serif;
  }

  :host ::ng-deep .uploadFilePDF{
    position: relative;
    margin: 10px 0 30px 0;
    border-radius: 5px;
    width: 360px;
  
  }
  :host ::ng-deep.flieUpload{
    position: relative;
    
    justify-content: flex-end;
    width: 360px;
  
    border-radius: 5px;
  }
  input{
    margin: 10px 0 0 40px ;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
  }
  ::-webkit-file-upload-button{
  
    border: none;
    background-color: #24a0ed;
    color: white;
    border-radius: 5px 0 0 5px ;
  }
  
  :host ::ng-deep .btn-add{
    color: #fff;
    background-color: #24a0ed;/*#000dc2ef  */
    border-color: #24a0ed85;;
    /* box-shadow: 0 2px 2px 0 #0d6efd, 0 3px 1px -2px #0d6efd, 0 1px 5px 0 #0d6efd; */
    font-family: 'Sarabun', sans-serif;

  }
  :host ::ng-deep .btn-add:hover{
    background-color: #24a0ed; 
    border-color: #00087c9f;
    /* box-shadow: 0 14px 14px -12px #24a0ed51, 0 4px 14px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #24a0ed51; */
  }
  .page-input {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    width: 60px;  /* หรือปรับเป็นขนาดที่ต้องการ */
    margin: 10px 0 0 40px;
    text-align: center;
}