.auth-layout{
    background-color:  rgb(255, 219, 61);
    height: 100vh !important;
    width: 100vw !important;
    position: relative !important;
    justify-content: center !important;
    justify-items: center !important;
}

