<div class="main-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">หน้าหลัก</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/manageuser']">จัดการผู้ใช้งาน</a></li>
          <li class="breadcrumb-item active"><a aria-current="page" >รายละเอียดผู้ใช้งาน</a></li>
        </ol>
      </nav>
    <div class="container-fluid">
      

        <div class="card">
            <div class="navigate-bar">
                <button class="btn btn-danger" (click)="BackRoot()">
                    <i class="fa fa-angle-left"></i> กลับ
                </button>
            </div>
            <div class="card-header">
            
                <h4 class="card-title">การจัดการผู้ใช้งาน</h4>
                <!-- <button class="btn btn-primary" (click)="goToChangePassword()">เปลี่ยนรหัสผ่าน</button> -->
              </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-md-3">
                        <div class="card-user">
                            <div class="card-avatar">
                                <a href="javascript:void(0)">
                                <img class="img" [src]="profileImgUrl" />
                                <!-- <div class="upload">
                                    <i class="fa fa-camera"></i>
                                </div> -->
                                </a>

                               
                            </div>

                            <div class="card-info">
                                <a>
                                    ระดับผู้ใช้งาน : {{UserData?.role}}
                                </a>
                                <a>
                                    ชื่อ : {{ UserData?.employeeId?.firstname }}  นามสกุล : {{UserData?.employeeId?.lastname}}
                                </a>
                                <a>
                                    ตำแหน่ง : {{UserData?.employeeId?.bearing}}
                                </a>
                    
                             </div>
                        </div>
                   
                    </div>
                    
        
                    <div class="col-md-9">
                            <form [formGroup]="UserInfoForm" (ngSubmit)="SaveUserInfo()">
                            <div class="userInfo">
                                <div class="title">
                                   <h4> ข้อมูลผู้ใช้</h4>
                                   <!-- <button  type="button" (click)=" editProfile()">แก้ไขข้อมูลส่วนตัว</button> -->
                                    <div>
                                        <button type="button" class="btn btn-add"  (click)="resetPassword(UserID,'newPassword')" >Reset Password</button>
                                    </div>
                                    
                                </div>
                                <div class="user-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="">ชื่อ-นามสกุล</label>
                                        </div>

                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.employeeId?.firstname}} &nbsp;
                                            {{UserData?.employeeId?.lastname}}
                                        </div>

                                    
            
                                    </div>
                         
                                    <div class="group-info">
                                        <div class="title-info">
                                            <h4>ข้อมูลสถานที่ทำงาน</h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="">บริษัท/องค์กร</label>
                                            </div>
                                            <div class="col-md-9"  *ngIf="EditStatus">
                                                <input type="text" formControlName="organization" class="form-control">
                                            </div>
                                            <div class="col-md-9"  *ngIf="!EditStatus">
                                                {{UserData?.employeeId?.organization}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="">ที่อยู่</label>
                                            </div>
                                            <div class="col-md-9"  *ngIf="EditStatus">
                                                <input type="text" formControlName="address" class="form-control">
                                            </div>
                                            <div class="col-md-9"  *ngIf="!EditStatus">
                                                {{UserData?.employeeId?.address}}
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for=""></label>
                                            </div>
                                            <div class="col-md-5 select-wrapper"  *ngIf="EditStatus">
                                                ตำบล/แขวง :
                                                <select class="form-select" formControlName="tambon"
                                                 (focus)="istAmbonSelectOpen = true" 
                                                 (blur)="istAmbonSelectOpen = false" 
                                                 (change)="onTambonChange($event.target.value)"
                                                 [attr.disabled]="isTambonDisabled ? true : null">
                                                <option *ngFor="let tambon of tambons" [value]="tambon.id">{{ tambon.name_th }}</option>
                                              </select>
                                                <div class="iconSelect" [class.rotate]="istAmbonSelectOpen">
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                                <!-- <input type="text"formControlName="tambon" class="form-control" placeholder="ตำบล"> -->
                                            </div>
                                            <div class="col-md-4 select-wrapper"  *ngIf="EditStatus">
                                                อำเภอ/เขต :
                                                <select class="form-select" formControlName="amphure" 
                                                (focus)="isAmphureSelectOpen = true" 
                                                 (blur)="isAmphureSelectOpen = false" 
                                                (change)="onAmphuresChange($event.target.value)"
                                                [attr.disabled]="isAmphureDisabled ? true : null">
                                                <option *ngFor="let amphure of amphures" [value]="amphure.id">{{ amphure.name_th}}</option>
                                              </select>

                                              <div class="iconSelect" [class.rotate]="isAmphureSelectOpen">
                                                <i class="fa fa-chevron-down"></i>
                                                </div>
                                                <!-- <input type="text"formControlName="amphure" class="form-control" placeholder="อำเภอ"> -->
                                            </div>
                                            <div class="col-md-5"  *ngIf="!EditStatus">
                                               ตำบล/แขวง : {{getTambonName(UserData?.employeeId?.tambon)}}
                                            </div>
                                            <div class="col-md-4"  *ngIf="!EditStatus">
                                               อำเภอ/เขต : {{getAmphureName(UserData?.employeeId?.amphure)}}
                                            </div>
                                         
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for=""></label>
                                            </div>
                                    
                                            <div class="col-md-5 select-wrapper" *ngIf="EditStatus">
                                                จังหวัด : 
                                                <select class="form-select" formControlName="province"
                                                (focus)="isProvinceSelectOpen = true" 
                                                (blur)="isProvinceSelectOpen = false" 
                                                (change)="onProvinceChange($event.target.value)">
                                                <option *ngFor="let province of provinces" [value]="province.id">{{ province.name_th }}</option>
                                              </select>
                                              
                                              <div class="iconSelect" [class.rotate]="isProvinceSelectOpen">
                                                <i class="fa fa-chevron-down"></i>
                                                </div>
                                                <!-- <input type="text" formControlName="province" class="form-control" placeholder="จังหวัด"> -->
                                            </div>
                                      
                                            <div class="col-md-4 "  *ngIf="EditStatus">
                                                รหัสไปรษณีย์ : 
                                                <div class="form-control">{{ UserInfoForm.controls['postCode'].value }}</div>
                                                <!-- <input type="text"formControlName="postCode"  class="form-control"  placeholder="รหัสไปรษณีย์"> -->
                                            </div>
                                            <div class="col-md-5"  *ngIf="!EditStatus">
                                               จังหวัด :  {{getProvinceName(UserData?.employeeId?.province)}}
                                            </div>
                                            <div class="col-md-4"  *ngIf="!EditStatus">
                                              รหัสไปรษณีย์ :  {{UserData?.employeeId?.postCode}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="title-info">
                                                <h4>ข้อมูลติดต่อ</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="">อีเมล</label>
                                        </div>
                                        <div class="col-md-9"  *ngIf="EditStatus">
                                            <input type="text" formControlName="email" class="form-control">
                                        </div>
                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.email}}
                                        </div>
                                    </div>
                                    <div class="row">
    
                                        <div class="col-md-3">
                                            <label for="">เบอร์โทรศัพท์</label>
                                        </div>
                    
                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.employeeId?.phone}}
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="footer-content" *ngIf="EditStatus">
                                    <button type="submit" class="btn btn-success">ยืนยัน</button>
                                    <button type="button"  class="btn btn-danger" (click)="cancelEdit()">ยกเลิก</button>
                                </div>
                            </div>
                            </form>
                    </div>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>

  
  
  