<div class="main-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">หน้าหลัก</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/manageuser']">จัดการผู้ใช้งาน</a></li>
          <li class="breadcrumb-item active"><a aria-current="page" >รายละเอียดผู้ใช้งาน</a></li>
        </ol>
      </nav>
    <div class="container-fluid">
      

        <div class="card">
            <div class="navigate-bar">
                <button class="BackPage" (click)="BackRoot()">
                    <i class="fa fa-arrow-left"></i>  &nbsp; ย้อนกลับ
                </button>
            </div>
            <div class="card-header">
            
                <div class="card-title">
                    <p>การจัดการผู้ใช้งาน</p>
                </div>
                <!-- <button class="btn btn-primary" (click)="goToChangePassword()">เปลี่ยนรหัสผ่าน</button> -->
              </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-md-3">
                        <div class="card-user">
                            <div class="card-avatar">
                                <a href="javascript:void(0)" style="height: 220px;">
                                <img class="img" [src]="profileImgUrl" />
                                <!-- <div class="upload">
                                    <i class="fa fa-camera"></i>
                                </div> -->
                                </a>

                               
                            </div>

                            <div class="card-info">
                                <div class="row">
                                    <label for="">  ระดับผู้ใช้งาน : </label>
                                    <a href="" >   &nbsp;   {{UserData?.role}}</a>
                             

                                </div>
                                <div class="row">
                                    <label for=""> ชื่อ-นามสกุล :</label>
                                    <a href=""> &nbsp;  {{ UserData?.employeeId?.firstname }} &nbsp;
                                        {{UserData?.employeeId?.lastname}} </a>
                                  
                                </div>
                                <div class="row">
                                    <label for=""> ตำแหน่ง : </label>
                                    <a href=""> &nbsp;     {{UserData?.employeeId?.bearing}}</a>
                                        
                                </div>
                          
                           

                            </div>
                        </div>
                   
                    </div>
                    
        
                    <div class="col-md-9">
                            <form [formGroup]="UserInfoForm" (ngSubmit)="SaveUserInfo()">
                            <div class="userInfo">
                                <div class="title">
                                   <h4> ข้อมูลผู้ใช้</h4>
                                   <!-- <button  type="button" (click)=" editProfile()">แก้ไขข้อมูลส่วนตัว</button> -->
                                    <div>
                                        <button type="button" class="btn btn-add"  (click)="resetPassword(UserID,'newPassword')" >Reset Password</button>
                                    </div>
                                    
                                </div>
                                <div class="user-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="">ชื่อ-นามสกุล</label>
                                        </div>

                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.employeeId?.firstname}} &nbsp;
                                            {{UserData?.employeeId?.lastname}}
                                        </div>

                                    
            
                                    </div>
                         
                                    <div class="group-info">
                    
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="">ชื่อหน่วยงาน</label>
                                            </div>
                                           
                                            <div class="col-md-9" style="display: flex;" >
                                                {{UserData?.employeeId?.organization}}
                                                <div class="DataOrganization" (click)="openorganizationModel()">
                                                    รายละเอียด
                                                </div>
                                             
                                                <div class="modal fade" id="organizationModel" tabindex="-1" role="dialog"
                                                    aria-labelledby="addItemModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content Organization-content " style="width: 800px; height: auto;" >
                                                            <div class="modal-header" class="card-header">
                                                                <h5 class="modal-title" id="addItemModalLabel"
                                                                style="color: rgb(0, 0, 0); font-family: 'Sarabun', sans-serif !important; font-size: 18px; font-weight: 900;">
                                                                ข้อมูลหน่วยงาน</h5>
            
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close" style="color: black;">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label for="">
                                                                            ชื่อหน่วยงาน :
                                                                        </label>
                                                                       
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        {{DataOrganization?.agency_name}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label for=""> ที่อยู่ :</label>
                                                                       
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        {{DataOrganization?.address}}
        
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label for=""></label>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        ตำบล/แขวง : {{getTambonName(DataOrganization?.tambon)}}
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        อำเภอ/เขต : {{getAmphureName(DataOrganization?.amphure)}}
                                                                    </div>
                            
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <label for=""></label>
                                                                    </div>
                                                            
                            
                            
                                                                    <div class="col-md-5">
                                                                        จังหวัด : {{getProvinceName(DataOrganization?.province)}}
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        รหัสไปรษณีย์ : {{DataOrganization?.postCode}}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                    <label for=""> อิเมล :</label>
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        {{DataOrganization?.email}}
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                    <label for="">      เบอร์โทรศัพท์ :</label>
                                                                  
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        {{DataOrganization?.phone}}
                                                                    </div>
        
                                                                </div>
                                                               
                                                            </div>
                                                            <!-- <div class="modal-footer"> </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="">ที่อยู่</label>
                                            </div>
                                         
                                            <div class="col-md-9"  >
                                                {{UserData?.employeeId?.address}}
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for=""></label>
                                            </div>
                                           
                                          
                                            <div class="col-md-5"  *ngIf="!EditStatus">
                                               ตำบล/แขวง : {{getTambonName(UserData?.employeeId?.tambon)}}
                                            </div>
                                            <div class="col-md-4"  *ngIf="!EditStatus">
                                               อำเภอ/เขต : {{getAmphureName(UserData?.employeeId?.amphure)}}
                                            </div>
                                         
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for=""></label>
                                            </div>
                                    
                                        
                                      
                                    
                                            <div class="col-md-5"  *ngIf="!EditStatus">
                                               จังหวัด :  {{getProvinceName(UserData?.employeeId?.province)}}
                                            </div>
                                            <div class="col-md-4"  >
                                              รหัสไปรษณีย์ :  {{UserData?.employeeId?.postCode}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                    
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="">อีเมล</label>
                                        </div>
                                        <div class="col-md-9"  *ngIf="EditStatus">
                                            <input type="text" formControlName="email" class="form-control">
                                        </div>
                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.email}}
                                        </div>
                                    </div>
                                    <div class="row">
    
                                        <div class="col-md-3">
                                            <label for="">เบอร์โทรศัพท์</label>
                                        </div>
                    
                                        <div class="col-md-9"  *ngIf="!EditStatus">
                                            {{UserData?.employeeId?.phone}}
                                        </div>
                                    </div>
                                     
                                </div>
                                <div class="footer-content" *ngIf="EditStatus">
                                    <button type="submit" class="btn btn-success">ยืนยัน</button>
                                    <button type="button"  class="btn btn-danger" (click)="cancelEdit()">ยกเลิก</button>
                                </div>
                            </div>
                            </form>
                    </div>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>

  
