
<div class="register-card">
    <div class="row">
      <div class="col-sm-12">
        <h2>เพิ่มองค์กร</h2>
      </div>
  
      <div class="col-sm-12">
        <form [formGroup]="regisForm" (ngSubmit)="onSubmit(regisForm.data)">
          <div class="row box">
            <div class="col-sm-12" style="padding-right: 0;">
              <div class="form-group">
                <label for="agencyName" style="font-size: 16px;">ชื่อองค์กร</label>
                <input type="text" id="agencyName" formControlName="agencyName" required placeholder="กรอกอีเมลของคุณ">
                <div
                  *ngIf="regisForm.get('agencyName')?.invalid && (regisForm.get('agencyName')?.touched || regisForm.get('agencyName')?.dirty)">
                  <small class="error-text">กรุณากรอกข้อมูล**</small>
                </div>
              </div>
            </div>

            <div class="col-sm-6" style="padding-right: 0;">
              <div class="form-group">
                <label for="email" style="font-size: 16px;">อีเมล</label>
                <input type="email" id="email" formControlName="email" required placeholder="กรอกรหัสผ่านของคุณ">
                <div
                  *ngIf="regisForm.get('email')?.invalid && (regisForm.get('email')?.touched || regisForm.get('email')?.dirty)">
                  <small class="error-text">กรุณากรอกข้อมูล**</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-right: 0;">
              <div class="form-group">
                <label for="phone" style="font-size: 16px;">เบอร์โทรศัพท์</label>
                <input type="text" id="phone" formControlName="phone" required
                  placeholder="กรอกรหัสผ่านของคุณ">
                <div
                  *ngIf="regisForm.get('phone')?.invalid && (regisForm.get('phone')?.touched || regisForm.get('phone')?.dirty)">
                  <small class="error-text">กรุณากรอกข้อมูล**</small>
                </div>
              </div>
            </div>
          </div>
  
        
          <div class="row box">
              <div class="col-sm-12" style="padding-right: 0;">
                <div class="form-group">
                  <label for="address" style="font-size: 16px;">ที่ตั้งองค์กร</label>
                  <input type="text" id="address" formControlName="address" required placeholder="กรอกที่อยู่">
                  <div
                    *ngIf="regisForm.get('address')?.invalid && (regisForm.get('address')?.touched || regisForm.get('address')?.dirty)">
                    <small class="error-text">กรุณากรอกข้อมูล****</small>
                  </div>
                </div>
              </div>
      
         
            <div class="col-sm-12" style="padding-right: 0;">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="province" style="font-size: 16px;">จังหวัด</label>
                    <select class="form-select" formControlName="province"
                      (change)="onProvinceChange($event.target.value)">
                      <option *ngFor="let province of provinces" [value]="province.id">{{ province.name_th }}</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-sm-3" style="padding-left: 0;">
                  <div class="form-group">
                    <label for="amphure" style="font-size: 16px;">อำเภอ/เขต</label>
                    <select class="form-select" formControlName="amphure" (change)="onAmphuresChange($event.target.value)"
                      [attr.disabled]="isAmphureDisabled ? true : null">
                      <option *ngFor="let amphure of amphures" [value]="amphure.id">{{ amphure.name_th}}</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="tambon" style="font-size: 16px;">ตำบล/แขวง</label>
                    <select class="form-select" formControlName="tambon" (change)="onTambonChange($event.target.value)"
                      [attr.disabled]="isTambonDisabled ? true : null">
                      <option *ngFor="let tambon of tambons" [value]="tambon.id">{{ tambon.name_th }}</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-sm-3" style="padding-left: 0;">
                  <div class="form-group">
                    <label for="postCode" style="font-size: 16px;">รหัสไปรษณีย์</label>
                    <select class="form-select" formControlName="postCode"
                      [attr.disabled]="isPostCodeDisabled ? true : null">
                      <option *ngFor="let code of postCode" [value]="code">{{ code }}</option>
                    </select>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
  
  
          
         
          <button type="submit" class="btn-create-account">เพิ่มองค์กร</button>
        </form>
      </div>
  
    