.card{
    padding: 30px;
}
.card-header{
  position: relative;
  /* background-color:rgb(255,209,0,0.2);  rgb(241, 245 ,255) */

  display: flex;
  justify-content: space-between ;
  align-items: center;
  margin: 0 ;
  border-radius: 10px;
  padding: 0.75rem 1.25rem ;
}

.card-title p{
    font-family: "Sarabun", sans-serif; 
    font-weight: 900;
    font-size: 18px;
}

.navigate-bar{
    display: flex;
    justify-content: flex-start;
}
.form-group input{
  border-radius: 5px;
}
.modal-content{
  
  max-height: 1235.9px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  font-family: "Sarabun", sans-serif;
  
}

.border-error {
    position: relative;
    bottom:0px;  /* ให้ข้อความอยู่ใต้ input */
    left: 0px;
    margin: 2px;
    background-color: transparent;
    color: red;
    font-size: 0.875em;
    text-align: left;
    pointer-events: none;
    border-radius: 5px;
   z-index: 1;
  
  }
.box-validate{
    border: 1px solid red;
    border-radius: 5px;
  }
.box-validate + .text-validate .border-error {
    display: block;
  }
  .text-validate{
     
    color: red;
  }

  .border-errorInDex{
    position: relative;
    bottom:0px;  /* ให้ข้อความอยู่ใต้ input */
    left: 0px;
    margin: 2px;
    width: 600px;
    background-color: transparent;
    color: red;
    font-size: 0.875em;
    text-align: left;
    pointer-events: none;
    border-radius: 5px;
   z-index: 1;

  }
.border-errorPersonFullname{
    position: relative;
    bottom:0px;  /* ให้ข้อความอยู่ใต้ input */
    left: 0px;
    margin: 2px;
    background-color: transparent;
    color: red;
    font-size: 0.875em;
    text-align: left;
    pointer-events: none;
    border-radius: 5px;
  }
.border-errorPersonRank{
    position: relative;
    bottom:0px;  /* ให้ข้อความอยู่ใต้ input */
    left: 0px;
    margin: 2px;
    width: auto;
    background-color: transparent;
    color: red;
    font-size: 0.875em;
    text-align: left;
    pointer-events: none;
    border-radius: 5px;
  }

.border-errorLocation {
    position: relative;
    bottom:0px;  /* ให้ข้อความอยู่ใต้ input */
    left: 0px;
    margin: 2px;
    /* background-color: white; */
    color: red;
    font-size: 0.875em;
    text-align: left;
    pointer-events: none;
    border-radius: 5px;
   z-index: 1;
  
  }
:host ::ng-deep .btn-add{
    color: #fff;
    background-color: rgb(24,144,255) ;/*#000dc2ef rgb(24,144,255)  #24a0ed */
    border-color: #00087c9f;
    /* box-shadow: 0 2px 2px 0 #0d6efd, 0 3px 1px -2px #0d6efd, 0 1px 5px 0 #0d6efd; */

  }
  :host ::ng-deep .btn-add:hover{
    background-color: rgb(24,144,255); 
    border-color: #24a0edb6;
    box-shadow: 0 14px 14px -12px #24a0ed51, 0 4px 14px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px #24a0ed51;
  }
