<div class="MainTableDetail">

    <div class="Detail-content" [ngStyle]="{ width: '230mm' }">
        <!--[ngStyle]="{ width: '230mm', height: '327mm' , height: '297mm' }"-->

        <div class="modal-header card-header card-header-danger">
            <h5 class="modal-title" id="myModalLabel"
                style="color: white; font-family: 'Sarabun', sans-serif !important; font-size: 18px;">รายละเอียด</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="BackRoot()">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>

        <div class="uploadFilePDF">
            <label for="fileInput" style="padding: 0 0 0 15px;">อัปโหลดไฟล์ของคุณ</label>
            <input id="fileInput" type="file" class="fileUpload" accept="application/pdf,image/*"
                (change)="onFileSelected($event)" style="font-size: 14px;">
            <button type="button" (click)="clearFileInput()"
                style="position: relative;left:-25px; border: none; background-color: transparent; z-index: 10;"><i
                    class="fa fa-times"></i></button>
        </div>
        <!-- <button (click)="addDetail()">เพิ่มหน้าใหม่</button> -->
         <!--หน้าในการแสดง ไฟล์ pdf ที่อัปโหลดมา-->
        <div *ngIf="selectedFilePath">

            <pdf-viewer id="pdf-viewer" *ngIf="testFile"
                [src]="testFile" 
                [render-text]="true" 
                [original-size]="true"
                [borders]="true"
                [show-borders]="true" 
                style="width: 210mm; height: 297mm;">
            </pdf-viewer>
            <img *ngIf="isFileImage" [src]="selectedFilePath" alt="Image"
                style="display: block; align-items: center; max-width:  100%; max-height: 297mm;">
        </div>


        <div class="page" id="firstPage">
            <div id="myDetail" class="modal-body-detail"
                [ngStyle]="{'display': testFile ? 'none' : 'block', width: '210mm' }">
                <!-- เนื้อหาของป๊อปอัพ -->
                <form action method="get">
                    <div class="mainCenter-panel ">
                        <div class="header-topic">

                            <label style="font-size: 18px; font-weight: bold;">เอกสารตรวจสอบ</label>
                            <p>{{ detailItems?.record_topic }}</p>

                        </div>

                        <div class="detail-content">
                            <div class="date-flex">
                                <div class="form-group start-date">
                                    <label>วันที่เริ่มการตรวจสอบ:</label>
                                    <p>{{ detailItems?.record_star_date | thaidate: 'medium' }}</p>
                                </div>
                                <div class="form-group end-date">
                                    <label>วันที่เสร็จสิ้นการตรวจสอบ:</label>
                                    <p>{{ detailItems?.record_end_date | thaidate: 'medium' }}</p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>รายละเอียด:</label>
                                <p>{{ detailItems?.record_detail }}</p>
                            </div>
                            <div class="form-group">
                                <label>สถานที่:</label>
                                <p>{{ detailItems?.record_place }}</p>
                            </div>
                        </div>
                        <div class="main-detail">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle; width: 10%;">ครั้งที่</th>
                                        <th style="text-align: center; vertical-align: middle;">เนื้อหาการตรวจสอบ</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="vertical-align: text-top;">
                                            {{detailItems?.record_id}}/{{detailItems?.record_star_date | thaidate
                                            :'year'}}
                                        </td>
                                        <td [innerHTML]="getSafeHtml(detailItems?.record_content)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div *ngIf="!remainingContent" class="sign-content" [ngStyle]="{'display':!remainingContent ? 'flex' : 'none'}" > <!-- [ngStyle]="{'display':!remainingContent ? 'flex' : 'none'}"-->
                            <div class="form-group" style="width: auto;">
                                <label style="font-size: 16px;">รายชื่อผู้รับผิดชอบ:</label>
                                <div *ngFor="let person of viewData; let i = index">
                                    <div class="UploadContentBox">

                                        <div class="openSignModal" (click)="openSignModal(i)"  [ngStyle]="{'display':isSignModalVisible[i] ? 'none':'flex'}">
                                            <a>คลิกเพื่อเซ็น</a>

                                        </div>
                                        <!-- Sign modal -->
                                        <div class="Writte-sign" #writteSignElement id="SignModal-{{i}}"
                                            *ngIf="isSignModalVisible[i]">
                                            <canvas id="writteSignCanvas-{{i}}" class="full-page-signWritte">Error
                                                someting with canvas</canvas>

                                        </div>


                                    </div>

                                    <a style="position: relative; font-size: 16px; display: inline;">( {{
                                        person.view_rank }} &nbsp; {{ person.view_first_name }} &nbsp;{{
                                        person.view_last_name }} )</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>

            </div>
            

            <!--page2?-->
            
            <div  id="myDetail" class="modal-body-detail" [ngStyle]="{'display': (testFile ||!remainingContent) ? 'none' : 'block', width: '210mm' }">
            
                <form action method="get">
                    <div #mainCenterPanel class="mainCenter-panel ">
                       
    
                        <div class="main-detail">
                            <table>
                               
                                <tbody>
                                    <tr>
                                        <td >
                                
                                        </td>
                                        <td [innerHTML]="getSafeHtml(remainingContent)" style="width: 90%;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                        <div *ngIf="!remainingContent" class="sign-content" [ngStyle]="{'display':!remainingContent ? 'flex' : 'none'}">
                            <div class="form-group" style="width: auto;">
                                <label style="font-size: 16px;">รายชื่อผู้รับผิดชอบ:</label>
                                <div *ngFor="let person of viewData; let i = index" >
                                    <div class="UploadContentBox">
                                        
                                        <div  class="openSignModal" (click)="openSignModal(i)" [ngStyle]="{'display':isSignModalVisible[i] ? 'none':'flex'}" >
                                            <a>คลิกเพื่อเซ็น</a>
    
                                        </div>
                                  
                                        <div class="Writte-sign" #writteSignElement id="SignModal-{{i}}"
                                            *ngIf="isSignModalVisible[i]">
                                            <canvas id="writteSignCanvas-{{i}}" class="full-page-signWritte">Error someting
                                                with
                                                canvas</canvas>
                                         
                                        </div>
    
    
                                    </div>
    
                                    <a style="position: relative; font-size: 16px; display: inline;">( {{ person.view_rank }} &nbsp;  {{ person.view_first_name }} &nbsp;{{ person.view_last_name }} )</a>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </form>
                
            </div>

            <div *ngFor="let part of contentParts; let last = last">
                <div id="myDetail" class="modal-body-detail" [ngStyle]="{'display': testFile ? 'none' : 'block', width: '210mm' }">

                    <form action method="get">
                        <div #mainCenterPanel class="mainCenter-panel ">
                           
        
                            <div class="main-detail">
                                <table>
                                   
                                    <tbody>
                                        <tr>
                                            <td >
                                    
                                            </td>
                                            <td [innerHTML]="part" style="width: 90%;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
        
                            <div *ngIf="last" class="sign-content">
                                <div class="form-group" style="width: auto;">
                                    <label style="font-size: 16px;">รายชื่อผู้รับผิดชอบ:</label>
                                    <div *ngFor="let person of viewData; let i = index" >
                                        <div class="UploadContentBox">
                                            
                                            <div  class="openSignModal" (click)="openSignModal(i)" [ngStyle]="{'display':isSignModalVisible[i] ? 'none':'flex'}" >
                                                <a>คลิกเพื่อเซ็น</a>
        
                                            </div>
                                      
                                            <div class="Writte-sign" #writteSignElement id="SignModal-{{i}}"
                                                *ngIf="isSignModalVisible[i]">
                                                <canvas id="writteSignCanvas-{{i}}" class="full-page-signWritte">Error someting
                                                    with
                                                    canvas</canvas>
                                             
                                            </div>
        
        
                                        </div>
        
                                        <a style="position: relative; font-size: 16px; display: inline;">( {{ person.view_rank }} &nbsp;  {{ person.view_first_name }} &nbsp;{{ person.view_last_name }} )</a>
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                    </form>
                </div>
            </div>
             <!-- <div *ngFor="let part of contentParts">
                <div id="myDetail" class="modal-body-detail" [ngStyle]="{'display': testFile ? 'none' : 'block', width: '210mm' }">

                  <div [innerHtml]="part"></div>
                </div>
            </div>  -->
          
     
            

            
        </div>




        




        <div class="modal-footer">
            <button type="button" class="btn btn-success pull-center" (click)="printPDF()">
                <i class="fa fa-download"></i>&nbsp; ดาว์โหลด
            </button>
            <button type="button" class="btn btn-add" (click)="saveRCPDF()">
                <i class="fa fa-save"></i>&nbsp; บันทึก
            </button>
        </div>
    </div>


    <!-- <div class="other-page1" style="background: white;">
        <div>
            <label for="maxLengthInput">Set max length:</label>
            <input id="maxLengthInput" type="number" [(ngModel)]="maxLength" (input)="onMaxLengthChange(maxLength)" />
          </div>
        <div class="main-detail">
            <table>
                <tbody>
                    <tr>
                        <td [innerHTML]="getSafeHtml(truncatedContent )"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->




</div>
