<div class="login-card">
<!-- <div class="back-button-container">
  <button class="btn btn-secondary" (click)="goBack()">ย้อนกลับไปยังโปรไฟล์</button>
</div> -->

<div class="change-password-card">
  <h2>เปลี่ยนรหัสผ่าน</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="oldPassword" style="font-size: 16px;">รหัสผ่านเก่า</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" required placeholder="กรอกรหัสผ่านเก่าของคุณ" style="font-size: 14px; font-family: 'Sarabun', sans-serif;">
    </div>
    <div class="form-group">
      <label for="newPassword" style="font-size: 16px;">รหัสผ่านใหม่</label>
      <input type="password" id="newPassword" formControlName="newPassword" required placeholder="กรอกรหัสผ่านใหม่ของคุณ" style="font-size: 14px; font-family: 'Sarabun', sans-serif;">
    </div>
    <div class="form-group">
      <label for="confirmNewPassword" style="font-size: 16px;">ยืนยันรหัสผ่านใหม่</label>
      <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" required placeholder="ยืนยันรหัสผ่านใหม่ของคุณ" style="font-size: 14px; font-family: 'Sarabun', sans-serif;">
    </div>
    <button type="submit" class="btn-submit">ยืนยัน</button>
  </form>
</div>
<div class="footer-links">
  <!-- <a (click)="openFogetPassword()" class="forgot-password-link"  style="font-size: 14px;">ลืมรหัสผ่าน</a> -->
  <a (click)="goBack()" class="register-link" style="font-size: 14px;">ย้อนกลับไปยังโปรไฟล์</a>
</div>
</div>