.forgot-password-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .forgot-password-card h2 {
    margin-bottom: 20px;
    color: #000000;

    text-align: center;
    font-size: 26px;
    font-family:  'Sarabun', sans-serif;
  }

  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-submit {
    background-color:  #24a0ed;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn-submit:hover {
    background-color:  #24a0ed;
  }
  

  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .login-link {
    font-size: 0.8em;
    color:  #24a0ed;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  .back-button-container {
    margin-bottom: 20px;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }

  .login-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center2;
    font-size: 16px;
    font-family:  'Sarabun', sans-serif; */
  }
  
  .login-card h2 {
    margin-bottom: 20px;
    color: #000000;

    text-align: center;
    font-size: 26px;
    font-family:  'Sarabun', sans-serif;
  }

  .footer-links {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 15px;
    text-align: center;
  }
  
  .forgot-password-link, .register-link {
    font-size: 0.8em;
    color:  #24a0ed;
    text-decoration: none;
  }
  
  .forgot-password-link:hover, .register-link:hover {
    text-decoration: underline;
  }