


<div class="register-card">
  <div class="row">
    <div class="col-sm-12">
      <h2>สมัครสมาชิก</h2>
    </div>

    <div class="col-sm-12">
      
      <form [formGroup]="regisForm" (ngSubmit)="onSubmit(regisForm.data)">
      
       
        <div class="row box" >
          <div class="col-sm-12" style="padding-right: 0;">
            <div class="form-group">
              <label for="email" style="font-size: 16px;">อีเมล</label>
              <input type="email" id="email" formControlName="email" required placeholder="กรอกอีเมลของคุณ"
               >
              <div *ngIf="regisForm.controls.email.invalid && (regisForm.controls.email.touched || regisForm.controls.email.dirty)">
                <small class="error-text">กรุณากรอกข้อมูล**</small>
              </div>
            </div>
          </div>
          <div class="col-sm-12" style="padding-right: 0;">
            <div class="form-group">
              <label for="password" style="font-size: 16px;">รหัสผ่าน</label>
              <input type="password" id="password" formControlName="password" required placeholder="กรอกรหัสผ่านของคุณ"
               >
              <div *ngIf="regisForm.controls.password.invalid && (regisForm.controls.password.touched || regisForm.controls.password.dirty)">
                <small class="error-text">รหัสผ่านต้องมีความยาวอย่างน้อย 8 ตัวอักษร</small>
              </div>
            </div>
          </div>
        
         <div class="col-sm-12" style="padding-right: 0;">
          <div class="form-group">
            <label for="confirmpassword" style="font-size: 16px;">ยืนยัน รหัสผ่าน</label>
            <input type="password" id="confirmpassword" formControlName="confirmpassword" required placeholder="กรอกรหัสผ่านของคุณ"
              >
            <div *ngIf="regisForm.controls.confirmpassword.invalid && (regisForm.controls.confirmpassword.touched || regisForm.controls.confirmpassword.dirty)">
              <small class="error-text">รหัสผ่านไม่ตรงกัน</small>
            </div>
          </div>
         </div>
        

        </div>
        <div class="row box">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstname" style="font-size: 16px;">ชื่อ</label>
              <input type="text" id="firstname" formControlName="firstname" required placeholder="กรอกชื่อของคุณ"
               >
              <div *ngIf="regisForm.controls.firstname.invalid && (regisForm.controls.firstname.touched || regisForm.controls.firstname.dirty)">
                <small class="error-text">กรุณากรอกข้อมูล**</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-right: 0;">
            <div class="form-group">
              <label for="lastname" style="font-size: 16px;">นามสกุล</label>
              <input type="text" id="lastname" formControlName="lastname" required placeholder="กรอกนามสกุลของคุณ"
               >
              <div *ngIf="regisForm.controls.lastname.invalid && (regisForm.controls.lastname.touched || regisForm.controls.lastname.dirty)">
                <small class="error-text">กรุณากรอกข้อมูล**</small>
              </div>
            </div>
          </div>
         
  
        </div>

        <div class="row box">
          <div class="col-sm-12">
            <div class="title">ที่อยู่</div>
          </div>
         
          <div class="col-sm-12">
           
            <div class="form-group">
              <label for="phone" style="font-size: 16px;">จังหวัด</label>
              <input type="tel" id="phone" formControlName="phone" required placeholder="กรอกจังหวัด"
                >
              <div *ngIf="regisForm.controls.phone.invalid && (regisForm.controls.phone.touched || regisForm.controls.phone.dirty)">
                <small class="error-text">กรุณากรอกข้อมูล****</small>
              </div>
            </div>
          </div>
          <div class="col-sm-12" >
         
            <div class="form-group">
              <label for="phone" style="font-size: 16px;">จังหวัด</label>
              <input type="tel" id="phone" formControlName="phone" required placeholder="กรอกจังหวัด"
                >
              <div *ngIf="regisForm.controls.phone.invalid && (regisForm.controls.phone.touched || regisForm.controls.phone.dirty)">
                <small class="error-text">กรุณากรอกข้อมูล****</small>
              </div>
            </div>
          </div>
   
          
        </div>
      <div class="row box">
        <div class="col-sm-12" style="padding-right: 0;">
          <div class="title" >ข้อมูลติดต่อ</div>
          <div class="form-group">
            <label for="phone" style="font-size: 16px;">เบอร์โทรศัพท์</label>
            <input type="tel" id="phone" formControlName="phone" required placeholder="กรอกเบอร์โทรศัทพ์ของคุณ"
              >
            <div *ngIf="regisForm.controls.phone.invalid && (regisForm.controls.phone.touched || regisForm.controls.phone.dirty)">
              <small class="error-text">กรุณากรอกข้อมูล****</small>
            </div>
          </div>
        </div>
       
      </div>
      
        <button type="submit" class="btn-create-account">สร้างบัญชี</button>
      </form>
  
    </div>
    
  <div class="col-sm-12">
    <div class="footer-links">
      <a style="font-size: 14px; color: #24a0ed;"> มีบัญชีอยู่เเล้ว? </a> &nbsp; <a routerLink="/login" class="login-link"
        style="font-size: 14px;">เข้าสู่ระบบ</a>
    </div>
  </div>

</div>
</div>
