  #map {
    position: relative;
    display: flex;
    height: 700px;
    width: auto;
   margin-top: 0;
    border-radius: 5px;
  }
  .mapBG{
    position: relative;
    padding: 25px;
    height: 900px;
    background: white;
    border-radius: 10px;
    justify-content: center;
  }
.title{
  padding:0 20px 20px 0;
}
  h4{
    font-family: 'Sarabun',sans-serif;
    font-weight: 900;
  }