.modal-lg {
    max-width: 100%;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modal-body-detail{
    display: flex;

    align-items: top;
    width: 100%;

    
}
.card-header{
    position: relative;
    background-color: rgb(255, 209, 0);
}
.search-table{
    position: relative;
    align-items:center ;
}
.icon-search{
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 20.5px;
    align-items: center;
    border: none;
}
.icon-search:hover{
    box-shadow:0 10px 10px 0 #b5b3b3;
}


label{
    color: black;
}


.btn-just-icon.active {
    background-color: #55b559; /* สีพื้นหลังเมื่อปุ่ม active */
    color: white; /* สีตัวอักษรเมื่อปุ่ม active */
  }

.form-control.mt-3 {
    position: relative;
  }
.full-page-textarea{
    width: 100%;
    height: calc(297mm - 50px); /* 297mm minus some margin for modal padding */
    border: none;
    resize: none;

}
.full-page-textarea-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-warning:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 209,0); /* สีพื้นหลังที่ต้องการเมื่อ hover */
    z-index: -1;
}

.left-panel {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
    width:120mm;
    height: 100%;
  }
.right-panel {
    flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  }

.right-panel img {
    width: 210mm;
    height: 297mm;
    border: 1px solid #ddd;
    justify-content: flex-end;
  }