<!--สิ่งที่ติดปัญหาอยู่และยังไม่ได้แก้ไข
  1.templat datatable ไม่สามารถดึงได้มาใช้งานได่้
  2.ส่วนของ "tooltip" เรียกใช่งานจาก bootstrap ไม่ได้ tooltip คือ เมื่อเอาเมาส์ไปที่ปุ่มแล้วมันจะขึ้นข้อความขึ้นมานะอย่าง "ดูรายละเอียด"
  3.style ของ tooltip ใช้ได้แค่ในตัวของ modal ถึงใช้ได้แต่ไม่สามารถมีการทำงานในแบบที่ต้องการได้ ตำแหน่งเริ่มต้นของ
-->
<div class="main-content">
  <div class="row justify-content-end">
    <div class="col-sm-2">
      <div class="insert-data">
        <button class="btn btn-add pull-center " (click)="onInsertModal()">
          <i class="fa fa-plus"></i> &nbsp;เพิ่มรายการ
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="card-Edit"> -->
          <div style="display: flex; justify-content: space-between" class="card-header card-header-danger">
            <h4 class="card-title" style="text-align: center">
              การลงตรวจอิเล็กทรอนิค
            </h4>
            <p class="card-category"></p>
            <!-- <div class="btnBar">
              <form class="navbar-form">
      
              </form> -->
            <!-- (click)="searchData(myInputSearch.value)" -->
            <!-- </div> -->
          </div>

          <!-- </div> card-Edit -->

          <div class="card-body">
            <div class="table-responsive">
              <table width="100%" datatable [dtOptions]="dtOptions"
                class="table table-border table-hover table-bordered nowrap"  style="color: black;">
                <thead class="text-primary" style="color: black;">
                  <tr>
                    <th style="width: 2%; white-space: nowrap; text-align: center; color: black;">ครั้งที่</th>
                    <th  style="color: black;">หัวข้อการตรวจสอบ</th>
                    <th  style="color: black;">วันที่เริ่มตรวจสอบ</th>

                    <th style="color: black;">สถานที่</th>
                    <th class="text-center"  style="color: black;"><i class="fa fa-gear"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <!---->
                  <tr *ngFor="let item of items?.records">


                    <td style=" text-align: center;">

                      {{item.record_id}}
                    </td>
                    <td style=" white-space: nowrap;">

                      {{item.record_topic }}
                    </td>
                    <td style=" white-space: nowrap;">

                      {{item.record_star_date | thaidate: "medium"}}
                    </td>

                    <td style=" white-space: nowrap;">
                      {{item.record_location}}
                    </td>

                    <td class=" text-center " style=" width:1% ;white-space: nowrap;">
                      <!-- <a href="" (click)="openModal()"><i class="fa fa-file-text-o" ></i></a>&nbsp; -->
                      <!-- <a href=""  (click)="onRecord()" ><i class="fa fa-pencil-square-o" ></i></a>&nbsp;
                      <a href=""><i class="fa fa-file-pdf-o" (click)="printPDF()" ></i></a> -->
                      <button (click)="openDetailModal(item._id)" 
                        style="border: none; background: none; color: black;">
                        <i data-toggle="tooltip" title="ดูรายละเอียด" data-placement="top"
                          class="fa fa-file-text-o ModalIcon " ></i>
                      </button>&nbsp;


                      <button (click)="onRecord()" style="border: none; background: none; color: black;" >
                        <i data-toggle="tooltip" title="การจดบันทึก" data-placement="top"
                          class="fa fa-pencil-square-o  Record" ></i>
                      </button> &nbsp;

                      <button style="border: none; background: none; color: black;">
                        <i class="fa fa-file-pdf-o PDF" (click)="printPDF()" ></i>

                      </button>&nbsp;
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>

          <!-- การเพิ่มข้อมูล
            <div class="modal fade" id="insertModel" tabindex="-1" role="dialog"
                aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header"
                            style="background: rgb(255,209,0);">
                            <h5 class="modal-title"
                                id="myModalLabel">เพิ่มรายการ</h5>
                            <button type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"
                            [ngStyle]="{'width': '20px', 'height': '210mm'}">
                          
                            <form action method="post">
                                <button
                                            (click)="addPersonModel()"
                                            style="border: 1px solid black; background: none;"><i
                                                class="fa fa-plus"></i></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                class="btn btn-success pull-center"
                                (click)="detailCommit()"><i
                                    class="fa fa-check"></i>&nbsp;
                                ยืนยัน</button>
                            <button type="button" class="btn btn-danger"
                                data-dismiss="modal"><i
                                    class="fa fa-times"></i>&nbsp; ปิด</button>
                        </div>
                    </div>
                </div>
            </div>
        -->
          <!--land insert-->
          <div class="modal fade" id="insertModel" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" class="card-header card-header-danger">

                  <div class="row">
                    <div class="col-sm">
                      <h5 class="modal-title" id="addItemModalLabel" style="color: white;">เพิ่มรายการ</h5>
                    </div>
                    <div class="col-sm">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>

                </div>
                <div class="modal-body">
                  <form [formGroup]="addItemForm" (ngSubmit)="onInsertSummit(addItemForm.value)">
                    <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label for="id" class="form-label">ครั้งที่</label>

                          <input type="id" id="id" formControlName="id" class="form-control" placeholder="ครั้งที่" />
                      
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="startDate">วันที่เริ่มตรวจสอบ</label>
                          <input style="color:rgb(171, 171, 171)" type="date" id="startDate" [(ngModel)]="startDate" formControlName="startDate"
                            class="form-control" placeholder="วันที่เริ่มตรวจสอบ" />
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="endDate">วันที่เสร็จสิ้น</label>
                          <input style="color:rgb(171, 171, 171)" type="date" id="endDate" formControlName="endDate"
                            class="form-control" placeholder="วันที่เสร็จสิ้น" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm">
                        <div class="form-group position-relative">
                          <label for="topic">
                            หัวข้อการตรวจสอบ
                            <span
                              *ngIf="addItemForm.controls['topic'].invalid && (addItemForm.controls['topic'].touched || addItemForm.controls['topic'].dirty)" class="text-validate">*</span>
                          </label>
                          <input type="text" id="topic" formControlName="topic" class="form-control"
                            placeholder="หัวข้อการตรวจสอบ"
                            [ngClass]="{'box-validate': addItemForm.controls['topic'].invalid && (addItemForm.controls['topic'].touched || addItemForm.controls['topic'].dirty)}" />
                          <div class="text-validate"
                            *ngIf="addItemForm.controls['topic'].invalid &&(addItemForm.controls['topic'].touched || addItemForm.controls['topic'].dirty ) ">
                            <span class="border-error" *ngIf="addItemForm.controls['topic'].invalid && (addItemForm.controls['topic'].touched || addItemForm.controls['topic'].dirty)"
                             >กรุณากรอกข้อมูล</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <form action method="post" [formGroup]="addPersonalForm"> -->
                    <div class="row inputLabel" [formGroup]="addItemForm">
                      <div class="col-sm-3" > 
                        <label> 
                       
                          ยศ/ตำแหน่ง
                          <span *ngIf="addItemForm.controls['personal'].invalid && (addItemForm.controls['personal'].touched || addItemForm.controls['personal'].dirty)" class="text-validate"> *</span>
                        </label>
                      </div>
                      <div class="col-sm-7">
                        <label for="fullname" style="margin-left: 45px;">ชื่อ-นามสกุล
                          <span *ngIf="addItemForm.controls['personal'].invalid && (addItemForm.controls['personal'].touched || addItemForm.controls['personal'].dirty)" class="text-validate"> *</span>
                        </label>
                      </div>
                      <div class="col-sm-2" style="position: relative; right: 0;">
                        <button type="button" (click)="addPersonInput()" [disabled]="!canAddPerson()" style="border: none; background: none;"> <!---->
                          <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" (click)="deletePersonInput()" style="border: none; background: none;">
                          <i class="fa fa-minus"></i>
                        </button>

                      </div>

                    </div>
                    <!-- formArrayName="personal" -->
                    <div>
                      <div *ngFor="let person of addItemForm.get('personal')['controls']; let i = index"
                        [formGroup]="addItemForm">
                        <div class="row " [formGroup]="person">
                          <div class="col-sm-4">
                            <div class="form-group position-relative">

                              <input type="text" id="rank-{{i}}" formControlName="rank" class="form-control"
                                placeholder="--กรอกข้อมูล--"
                                [ngClass]="{'box-validate':person.controls['rank'].invalid && (person.controls['rank'].touched || person.controls['rank'].dirty)}" /> <!---->
                               <div *ngIf="person.controls['rank'].invalid && (person.controls['rank'].touched || person.controls['rank'].dirty)" class="border-errorPersonRank">
                                กรุณากรอกข้อมูล
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-7">
                            <div class="form-group position-relative">

                              <input type="text" id="fullname-{{i}}" formControlName="fullname" class="form-control"
                                placeholder="--กรอกข้อมูล--" [ngClass]="{'box-validate': person.controls['fullname'].invalid && (person.controls['fullname'].touched || person.controls['fullname'].dirty)}" /> <!---->
                                <div *ngIf="person.controls['fullname'].invalid && (person.controls['fullname'].touched || person.controls['fullname'].dirty)" class="border-errorPersonFullname">
                                  กรุณากรอกข้อมูล
                                </div>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>
                    <!-- </form> -->
                    <!-- <form action method="post" [formGroup]="addPersonalForm">
                    </form> -->

                    <div class="form-group">
                      <label for="detail" 
                      >รายละเอียด
                      <span
                      *ngIf="addItemForm.controls['detail'].invalid && (addItemForm.controls['detail'].touched || addItemForm.controls['detail'].dirty)"class="text-validate" >*</span></label>
                      <input type="text" id="detail" formControlName="detail" class="form-control"
                        placeholder="รายละเอียด" [ngClass]="{'box-validate': addItemForm.controls['detail'].invalid && (addItemForm.controls['detail'].touched || addItemForm.controls['detail'].dirty)}"/>
                        <div class="text-validate"
                        *ngIf="addItemForm.controls['detail'].invalid &&(addItemForm.controls['detail'].touched || addItemForm.controls['detail'].dirty ) ">
                        <span class="border-error" *ngIf="addItemForm.controls['detail'].invalid && (addItemForm.controls['detail'].touched || addItemForm.controls['topic'].dirty)"
                         >กรุณากรอกข้อมูล</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="location">สถานที่
                        <span
                      *ngIf="addItemForm.controls['location'].invalid && (addItemForm.controls['location'].touched || addItemForm.controls['location'].dirty)" class="text-validate">*</span>
                      </label>
                      <input type="text" id="location" formControlName="location" class="form-control"
                        placeholder="--เลือกสถานที่--" [ngClass]="{'box-validate': addItemForm.controls['location'].invalid && (addItemForm.controls['location'].touched || addItemForm.controls['location'].dirty)}" readonly>  
                        <span class="border-errorLocation" *ngIf="addItemForm.controls['location'].invalid && (addItemForm.controls['location'].touched || addItemForm.controls['location'].dirty)"
                        >กรุณาเลือกสถานที่</span>
                    </div>
                    <button type="button" class="btn btn-add" (click)="getCurrentLocation()">
                      <i class="fa fa-location-dot">&nbsp;</i>เลือกสถานที่
                      ปัจจุบัน</button>



                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>&nbsp;ยืนยัน</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"
                          (click)="closeModal()"></i>
                        &nbsp; ปิด
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--land Insert end here-->
          <!-- รายละเอียด-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" [ngStyle]="{ width: '230mm', height: '327mm' }">
                <div class="modal-header card-header card-header-danger" style="background: rgb(255, 209, 0)">
                  <h5 class="modal-title" id="myModalLabel" style="color: white;">รายละเอียด</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="myDetail" class="modal-body-detail" [ngStyle]="{ width: '210mm', height: '297mm' }">
                  <!-- เนื้อหาของป๊อปอัพ -->
                  <form action method="get">
                    <div class="mainCenter-panel "> <!---->
                      <div class="header-topic">

                        <label style="font-size: 16px; font-weight: bold;">เอกสารตรวจสอบ</label>
                        <p>{{ detailItems?.record_topic }}</p>

                      </div>

                      <div class="detail-content">
                        <div class="date-flex">
                          <div class="form-group start-date">
                            <label>วันที่เริ่มการตรวจสอบ:</label>
                            <p>{{ detailItems?.record_star_date | thaidate: 'medium' }}</p>
                          </div>
                          <div class="form-group end-date">
                            <label>วันที่เสร็จสิ้นการตรวจสอบ:</label>
                            <p>{{ detailItems?.record_end_date | thaidate: 'medium' }}</p>
                          </div>
                        </div>


                        <div class="form-group">
                          <label>รายละเอียด:</label>
                          <p>{{ detailItems?.record_detail }}</p>
                        </div>
                        <div class="form-group">
                          <label>สถานที่</label>
                          <p>{{ detailItems?.record_location }}</p>
                        </div>
                      </div>
                      <table class="main-detail">
                        <thead>
                          <tr>
                            <th>ครั้งที่</th>
                            <th>เนื้อหาการตรวจสอบ</th>
                          </tr>

                        </thead>
                        <tbody>
                          <tr>
                            <td>{{detailItems?.record_id}}/{{detailItems?.record_star_date | thaidate :'year'}}</td>
                            <td [innerHTML]="typroText"> {{typroText}} </td> <!--data get-->
                          </tr>
                        </tbody>
                      </table>


                      <div class="sign-content">
                        <div class="form-group">
                          <label>รายชื่อผู้รับผิดชอบ:</label>
                          <div *ngFor="let person of viewData; let i = index">
                            <div class="UploadContentBox">
                              <!-- <div>
                                <i class="fa fa-upload" style="font-size:24px; cursor: pointer;"
                                  (click)="uploadImage(i)" *ngIf="!isLoading[i] && !uploadedImages[i]"></i>
                                <input type="file" id="image-upload-{{i}}" (change)="onFileChange($event, i)"
                                  accept="image/" style="display: none;">
                                <img [src]="uploadedImages[i]" alt="Uploaded Image" *ngIf="uploadedImages[i]"
                                  style="max-width: 100px; max-height: 100px; display: block; margin-top: 10px;">
                              </div> -->
                              <div class="openSignModal" (click)="openSignModal(i)">
                                <a>คลิกเพื่อเซ็น</a>

                              </div>
                              <!-- Sign modal -->
                              <div class="Writte-sign" #writteSignElement id="SignModal-{{i}}"
                                *ngIf="isSignModalVisible[i]">
                                <canvas id="writteSignCanvas-{{i}}" class="full-page-signWritte">Error someting with
                                  canvas</canvas>
                                <!-- <button (click)="refreshSignCanvas(i)"  style="border: none; background: none;">
                                    <i data-toggle="tooltip" title="ลบ" data-placement="top"
                                      class="fa fa-refresh"></i></button> -->
                              </div>


                            </div>

                            <a>( {{ person.view_rank }} &nbsp; &nbsp; {{ person.view_full_name }} )</a>
                          </div>
                        </div>
                      </div>


                    </div>
                  </form>
                  <!-- <div class="right-panel">
                    <form action="">
                      <div class="right-panelOnTop">
                  
                      </div>

                     


                    </form>
                  </div> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success pull-center" (click)="printPDF()">
                    <i class="fa fa-download"></i>&nbsp; ดาว์โหลด
                  </button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-times"></i>&nbsp; ปิด
                  </button>
                </div>
              </div>
            </div>
          </div>


          <!--[formGroup]="Form" (ngSubmit)="addPersonCommit(Form.value)" modal อันที่เป็นของ add person หน้าเล็กๆๆ ถูกลบออกนะ-->


          <!-- จดบันทึก-->
          <div class="modal fade" id="writtenModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" [ngStyle]="{width: '230mm',height: '180mm'  }">
                <div class="modal-header card-header card-header-danger" style="background: rgb(255, 209, 0)">
                  <h5 style="color: white;" class="modal-title" id="myModalLabel">จดบันทึก</h5>


                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-2" style="padding-top: 20px;">
                      <div class="section">
                        &nbsp;
                        <button class="btn btn-just-icon" [ngClass]="{'active': activeButton === 'typro'}"
                          (click)="setActive('typro')"><!-- data-toggle="tooltip" title="การพิมพ์ข้อความ" data-placement="top" -->
                          <i class="fa fa-file-word-o"></i>
                        </button>
                        &nbsp;
                        <button class="btn btn-just-icon" [ngClass]="{'active': activeButton === 'writte'}"
                          (click)="setActive('writte')"><!--data-toggle="tooltip" title="การเขียน" data-placement="top"-->
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-12" class="modal-body" style="width: 210mm; padding: 0 20px 0 20px;"
                      [ngStyle]="{top:0 }">

                      <div *ngIf="isTyproActive" class="full-page-textarea-container">
                        <div class="typroTextBox">
                          <div class="headerText">
                            <button aria-label="Preview">การพิมพ์ข้อความ</button>
                            <!-- <button  (click)="formatText('bold')" aria-label="bold">
                              <i class="fas fa-bold"></i>
                            </button>
                            <button (click)="formatText('italic')" aria-label="Italic">
                              <i class="fas fa-italic"></i>
                            </button>
                            <button (click)="formatText('strikeThrough')" aria-label="Strikethrough">
                              <i class="fas fa-strikethrough"></i>
                            </button>
                            <button  (click)="formatText('insertUnorderedList')" aria-label="Bullet List">
                              <i class="fas fa-list-ul"></i>
                            </button>
                            <button  (click)="formatText('insertOrderedList')"  aria-label="Numbered List">
                              <i class="fas fa-list-ol"></i>
                            </button> -->



                          </div>
                          <textarea contenteditable="true" [(ngModel)]="typroText" placeholder="พิมพ์ที่นี่... "
                            class="form-control  full-page-textarea">&nbsp;&nbsp;</textarea>


                        </div>
                      </div>
                      <div *ngIf="isWritteActive" class="full-page-pdf">
                        <div class="writteDraw">
                          <div class="toolbar">
                            <div>การเขียน</div>
                            <button (click)="refreshCanvas()">
                              <i data-toggle="tooltip" title="ล้างหน้ากระดาษ" data-placement="top"
                                class="fa fa-refresh"></i></button>
                          </div>
                          <canvas id="writteCanvas" class="full-page-canvas"></canvas>
                        </div>

                      </div>


                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-success pull-center" (click)="recordCommit()">
                    <i class="fa fa-check"></i>&nbsp; ยืนยัน
                  </button>
                  <button type="button" class="btn btn-danger pull-center" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-times"></i>&nbsp; ปิด
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- 
    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Simple Table</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>Salary</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Niger</td>
                        <td>Oud-Turnhout</td>
                        <td class="text-primary">$36,738</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Minerva Hooper</td>
                        <td>Curaçao</td>
                        <td>Sinaai-Waas</td>
                        <td class="text-primary">$23,789</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Sage Rodriguez</td>
                        <td>Netherlands</td>
                        <td>Baileux</td>
                        <td class="text-primary">$56,142</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Philip Chaney</td>
                        <td>Korea, South</td>
                        <td>Overland Park</td>
                        <td class="text-primary">$38,735</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Doris Greene</td>
                        <td>Malawi</td>
                        <td>Feldkirchen in Kärnten</td>
                        <td class="text-primary">$63,542</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Mason Porter</td>
                        <td>Chile</td>
                        <td>Gloucester</td>
                        <td class="text-primary">$78,615</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header card-header-danger">
                <h4 class="card-title mt-0">Table on Plain Background</h4>
                <p class="card-category">Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Country</th>
                      <th>City</th>
                      <th>Salary</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Niger</td>
                        <td>Oud-Turnhout</td>
                        <td>$36,738</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Minerva Hooper</td>
                        <td>Curaçao</td>
                        <td>Sinaai-Waas</td>
                        <td>$23,789</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Sage Rodriguez</td>
                        <td>Netherlands</td>
                        <td>Baileux</td>
                        <td>$56,142</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Philip Chaney</td>
                        <td>Korea, South</td>
                        <td>Overland Park</td>
                        <td>$38,735</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Doris Greene</td>
                        <td>Malawi</td>
                        <td>Feldkirchen in Kärnten</td>
                        <td>$63,542</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Mason Porter</td>
                        <td>Chile</td>
                        <td>Gloucester</td>
                        <td>$78,615</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>x
            </div>
          </div>
        </div>
      </div>
    </div> -->